.create-form-container {
    background-color: white;
    min-height: fit-content;
    border-radius: 8px;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: flex-start;
}

.create-form-inputs {
    width: inherit;
}

.create-form-time-picker {
    padding-right: 1%;
}

.create-submit-button {
    align-items: flex-start;
    padding-top: 1%;
}